a {
    color: #ddd;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu a:hover {
    color: rgb(192, 219, 255);
}

.Index{
    text-align: center;
}

#viewer {
    width: 100vw;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4vh;
    }
    .schema-name {
        float: right;
        margin-right: 2vw;
    }
}

.button {
    margin-left: 5px;
}

.button:hover {
    background: #83a3bb;
}

.canvas-shrunk {
    margin: 0 1vw;
    width: 52vw !important;
}

.canvas-wide {
    margin: 0 1vw;
    width: 67vw !important;
}

.sidebar-open {
    width: 15vw;
    height: 75vh;
    padding: 1vw;
    transition: left .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    margin: 0 1vw;
    background-color: #eee;
}

.sidebar-closed {
    width: 0;
    height: 100%;
    transition: left .3s ease-in-out;
    border: 0;
    margin: 0;
}

#schema-json {
    width: 28vw;
    height: 75vh;
    margin: 0 1vw;
    border: solid darkslateblue 2px;
    overflow-y: auto;
}

input.form-check-input {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}