.App {
    font-family: Arial, Helvetica, sans-serif;
    height: max-content;
    width: 100vw;
}

.Index{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.Header {
    display: inline-flex;
    background-color: rgb(45, 46, 49);
    width: 100vw;
    height: 20vh;
    text-align: center;
    margin-left: 0 !important;

    #logo {
        height: inherit;
        color: #ddd;

        img {
            height: inherit;
        }
    }

    #title {
        color: #ddd;
    }

    .nav-items{
        text-align: center;
    }

    a{
        color: #ddd;
    }
}

.shrink {
    height: 10vh;
}

.row {
    width: inherit;
}

#viewer {
    width: 100vw;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4vh;
    }
    .schema-name {
        float: right;
        margin-right: 2vw;
    }
}

.button {
    margin-left: 5px;
}

.button:hover {
    background: #83a3bb;
}

.canvas-shrunk {
    margin: 0 1vw;
    width: 52vw !important;
}

.canvas-wide {
    margin: 0 1vw;
    width: 67vw !important;
}

.sidebar-open {
    width: 15vw;
    height: 75vh;
    padding: 1vw;
    transition: left .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    margin-left: 0 1vw;
    background-color: #eee;
}

.sidebar-closed {
    width: 0;
    height: 100%;
    transition: left .3s ease-in-out;
    border: 0;
    margin: 0;
}

#schema-json {
    width: 28vw;
    height: 75vh;
    margin: 0 1vw;
    border: solid darkslateblue 2px;
    overflow-y: auto;
}

input.form-check-input {
width: 15px;
height: 15px;
padding: 0;
margin: 0;
vertical-align: bottom;
position: relative;
top: -1px;
}